<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CV - Alessandro Ciocchetti</title>
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
  </head>
  <body id="page-top">

      <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <p class="navbar-brand js-scroll-trigger">
        <span class="d-block d-lg-none">My CV</span>
        <span class="d-none d-lg-block"><%= image_tag("1.jpg", class: "img-fluid img-profile rounded-circle mx-auto mb-2") %> </span>
      </p>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
        <!--  <li class="nav-item"><p class="nav-link js-scroll-trigger"><#%= link_to 'My Cover Letter', root_path %></p></li> -->
          <li class="nav-item"><p class="nav-link js-scroll-trigger">My CV</p></li>
          <!--<li class="nav-item"><#%=link_to image_tag("it.png", size:5*5, alt:"cv in italiano"), cv_path %></li> -->
          <li class="nav-item"><%=image_tag("en.png", size:5*5, class: "mt-2", alt: "cv in English", style: "opacity: 0.5;") %></li>
        </ul>
      </div>
    </nav>
    <!-- Page Content-->
      <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
              <h1 class="mb-0">
                Alessandro
                <span class="text-primary">Ciocchetti</span>
              </h1>
              <div class="subheading mb-5">
                +39 340 410 7694 ·
                <a href="mailto:name@email.com">aless.ciocchetti@gmail.com</a> <br><br> Bologna, <%= Time.now.strftime("%d-%m-%Y") %>
              </div>
              <p class="lead mb-5">I have a Master's Degree in Management and Industrial Engineering and I am actually attending a <a href="#education">post-degree Master in Data Science</a>. I have <a href="#experience">three different working experiences</a>. When we were 22 and still University students, a great friend of mine and me developed and sold <a href="https://drive.google.com/drive/folders/1-iGCmgxChkWwR56Fcl4j1NJBMsGgqBnG?usp=sharing" target = "_blank">two softwares</a>
              to an Italian company, aimed to optimize workflows and to process data produced by CNC machines
              (this was an incredible adventure if I think that we accepted that commit without knowing anything about CNCs or either Python libraries such as Pandas to manage structured data...but we've learnt everything and made it perfectly! That's team work).
              I feel <a href="#skills">passionate</a> about Data Science, Programming, creating Web-App (e.g. this cv 😄) and Websites. <br>In my <a href="#interests">free time</a> I am mostly a reader, an harmonica player (<a href="https://www.youtube.com/watch?v=RsI-1ktxDBw" target = "_blank">you'd better believe me!</a>) and finally a [cinema, chess, card magic].lover(❤️); </p>
              <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/ac-palealex/", target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/PaleAlex" target="_blank"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Working Experiences</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                          <h3 class="mb-0">Business Analyst and Consultant</h3>
                          <div class="subheading mb-3"><a href="https://scsconsulting.it/get-to-know-scs/" target="_blank">SCS Consulting, Bologna</a></div>
                            <p>Strategic and management consulting for companies. I've been in charge for process and data analysis; pricing, stock and assortment modeling; market analysis; project management; display and presentation of the results</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">April 2020 - December 2021</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Master's Degree Thesis Internship</h3>
                            <div class="subheading mb-3"><a href="https://www.3dwasp.com/en" target="_blank">WASP - World's Advanced Saving Projects, Massa Lombarda</a></div>
                            <p>MSc thesis project (title: "Implementing a Performance Management System and the Lean Manufacturing for WASP") regarding the analysis of manufacturing processes and products' cost structure.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">September 2019 - February 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Internship</h3>
                            <div class="subheading mb-3"><a href="https://www.architaengineering.it/" target="_blank">Archita Engineering, Bologna</a></div>
                            <p>Tax consultancy for companies, drafting of technical documents with definition of the annual R&D costs (Industry 4.0 Plan)</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">February 2018 - July 2018</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University of Pisa</h3>
                            <div class="subheading mb-3"> <a href="https://masterbigdata.it/en" target="_blank">II Level Master - Data Science</a></div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">January 2022 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University of Bologna - Alma Mater Studiorum</h3>
                            <div class="subheading mb-3"><a href="https://corsi.unibo.it/2cycle/EngineeringManagement" target="_blank">Master's Degree in Industrial and Management Engineering</a></div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">October 2017 - March 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University di Bologna - Alma Mater Studiorum</h3>
                            <div class="subheading mb-3"> <a href="https://corsi.unibo.it/1cycle/EngineeringManagement" target="_blank">Bachelor's Degree in Industrial and Management Engineering</a></div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">October 2014 - October 2017</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages and Tools where I am 💪 (updated to today) </div>
                    <ul class="list-inline dev-icons">
                      <li class="list-inline-item"><%= image_tag("ruby.jpg", size:7*7) %></li>
                      <li class="list-inline-item"><%= image_tag("rails.png", size:7*7) %></li>
                      <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                      <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                      <li class="list-inline-item"><i class="fab fa-python"></i></li>
                      <li class="list-inline-item"><i class="fas fa-database"></i></li>
                      <li class="list-inline-item"><i class="fab fa-bootstrap"></i></li>
                      <li class="list-inline-item"><%= image_tag("dns.png", size:7*7) %></li>
                      <li class="list-inline-item"><%= image_tag("excel.jpg", size:7*7) %></li>
                      <li class="list-inline-item"><%= image_tag("ppt.png", size:7*7) %></li>
                      <li class="list-inline-item"><%= image_tag("shell.jpg", size:7*7) %></li>
                      <li class="list-inline-item"><i class="fab fa-google"></i></li>
                    </ul>
                    <div class="subheading mb-3">Spoken languages</div>
                    <ul class="list-inline dev-icons">
                      <li class="list-inline-item"><%= image_tag("it.png", size:6*6) %></li>
                      <li class="list-inline-item"><%= image_tag("en.png", size:6*6) %></li>
                    </ul>
                    <i>(IT: Mother-tongue, EN: B2/C1)</i>
                    <div class="subheading mb-3 mt-3">Projects</div>
                    <ul class="fa-ul mb-0">
                        <li>
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                          2020 - Creation and deployment of the web-site <a href="https://www.4forenglish.com/" target="_blank">www.4forenglish.com</a> (Ruby on Rails, HTML5, CSS)
                        </li>
                        <li>
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                          2018 - Development of the data analysis softwares <a href="https://drive.google.com/drive/folders/1-iGCmgxChkWwR56Fcl4j1NJBMsGgqBnG?usp=sharing" target = "_blank">"BeBot/BePlot"</a> for Universal 1972 Srl (Mantova). The names are a tribute to the anime "Cowboy Bebop"
                        </li>
                        <li>
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                          2018 - Development of the data analysis software "FC Matrix Writer" for Archita Engineering Srl (Bologna)
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Out of my professional life, I have several interests that make me who I am and are very important to me. I am an enthusiastic reader of classical novels (one of my favourite is Moby Dick), I love watching movies (Leone, Von Trier, Kubrick...), I listen a lot of music (almost all genres).
                    I am also engaged in personal "experiments": I've written and published a book called "Prigionia" and I play the harmonica in a blues-funky band. Furthermore, I like chess and card magic.</p>
                    <p class="mb-0">I am quite a sporty person: I train almost every day and I play football, I like skiing and trekking (with my dog).<br>
                    I walked from Bologna to Firenze in 6 days (<a href="https://en.viadeglidei.it/" target = "_blank">"Via degli Dei"</a>) and from Bologna to Prato in 5 days (<a href="https://www.viadellalanaedellaseta.com/?lang=en" target="_blank">"Via della Lana e della Seta"</a>).</p>
                    <br>
                  <!-- <#%= link_to("Cover letter here", root_path) %> -->
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
              <div class="resume-section-content">
                <h2 class="mb-5">Achievements</h2>
                <ul class="fa-ul mb-0">
                  <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    <a href="/python for finance en.pdf" target="_blank">Python for Finance - Financial Analysis</a>
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    <a href="/LearningPython.pdf" target="_blank">Python for Analytics</a>
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    <a href="/aws.png" target="_blank">Basic understanding of AWS</a>
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    <a href="https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course/" target="_blank">Ruby on Rails for Developers</a>
                  </li>
                  <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    <a href="https://www.libraccio.it/libro/9788827840870/alessandro-ciocchetti/prigionia.html" target="_blank">Here is my novel "Prigionia"</a>
                  </li>
                </ul>
              </div>
            </section>
        </div>
    </body>
</html>
